
nav ul li{
   
    list-style: none;
    padding: 5px;
    margin: 5px;
    float: left;
    font-size: 20px;
    height: 40px;
    
}

nav#navbar ul.navigation {

    position: absolute;
    top: 5px;
    right: 5px;
}

a {
    text-decoration: none;
}
i {
    color: black;
    padding: 2px;
    
    
}

.fa-facebook {
    color: blue;
    position: absolute;
    bottom: 5px;
    right: 2%;
}

.fa-whatsapp{
    color: green;
    position: absolute;
    bottom: 5px;
    right: 4%;
}

.fa-linkedin{
    color: skyblue;
    position: absolute;
    bottom: 5px;
    right: 6%;
}

.fa-x-twitter{
    position: absolute;
    bottom: 5px;
    right: 8%;
}

.fa-github{
    position: absolute;
    bottom: 5px;
    right: 10%;
}

.fa-envelope{
    position: absolute;
    bottom: 5px;
    right: 12%;
}

#contact{
    background: linear-gradient(to right, rgb(104, 104, 250),white);
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    background-color: yellow;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    
}

#myBody{
    clear: left;
    font-size: 20px;
}

#about{
    background: linear-gradient(to right, rgb(104, 104, 250),white);;
   
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#portfolio{
    background: linear-gradient(to right, rgb(104, 104, 250), white);
   
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home{
    background: linear-gradient(to right, rgb(104, 104, 250),white);
    height: auto;
    clear: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    text-align: center;
}

body{
    background-image: url('https://i.pinimg.com/236x/85/bc/71/85bc71f834cf1f45e66967b30c954bf3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    width: 200px;
    height: 30px;
}

img{
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 40px 10px 0;
    border-radius: 5px;
}

div#virtual-assistance{
    clear: left;
}

hr{
    color: black;
    background-color: black;
}

.subportfolio{
    margin: 0 0 50px 0;
    clear: left;
}

img.myProfile{
    border-radius: 80px;
}

#home p{
    clear: left;
    
}